<br>

<table class="table responsive-table">
    <thead>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Apellidos
        </th>
        <th>
            Documento
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            Correo
        </th>
        <th>
            Celular
        </th>
        <th>
            Estado
        </th>
        <th>
            Roles
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let r of recordList | paginate: { itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }">
            <td>
                {{r._id}}
            </td>
            <td>
                {{r.nombre}}
            </td>
            <td>
                {{r.apellidos}}
            </td>
            <td>
                {{r.documento}}
            </td>
            <td>
                {{r.fechaNacimiento}}
            </td>
            <td>
                {{r.correo}}
            </td>
            <td>
                {{r.celular}}
            </td>
            <td>
                {{r.estado}}
            </td>
            <td>
                <ul>
                    <li *ngFor="let r of r.roles">{{r.nombre}}</li>
                </ul>
            </td>
            <td>
                <a routerLink="/seguridad/editar-usuario/{{r._id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/seguridad/eliminar-usuario/{{r._id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
            </td>
        </tr>
    </tbody>
</table>

<br>
<a routerLink="/seguridad/crear-usuario" class="btn btn-success">Nuevo Usuario</a>
<p></p>