<br>
<div class="row">
    <form [formGroup]="form" class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <input formControlName="tipoRecordatorio" id="tipoRecordatorio" type="text">
                <label for="tipoRecordatorio">Tipo de recordatorio</label>
            </div>
            <div class="input-field col s6">
                <input formControlName="descripcion" id="descripcion" type="text">
                <label for="descripcion">Descripción</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/invitacion-evaluar/info-invitacion-evaluar/{{id}}" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>