<div class="row">
    <form [formGroup]="form" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="nombre" id="nombre" type="text">
                <label for="nombre">Nombre</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="telefono" id="telefono" type="text">
                <label for="telefono">Teléfono</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="email" id="email" type="text">
                <label for="email">E-mail</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="entidad" id="entidad" type="text">
                <label for="entidad">Entidad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/parametros/listar-jurado" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <div class="input-field col s10">
                <button (click)="SaveRecord()" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>
