<br>

<table class="table responsive-table">
    <thead>
        <th>
            Id
        </th>
        <th>
            Primer Nombre
        </th>
        <th>
            Otros Nombres
        </th>
        <th>
            Primer Apellido
        </th>
        <th>
            Segundo Apellido
        </th>
        <th>
            Documento
        </th>
        <th>
            Fecha Nacimiento
        </th>
        <th>
            E-mail
        </th>
        <th>
            Celular
        </th>
        <th>
            Fotografía
        </th>
        <th>
            Tipo Vinculación
        </th>
        <th>
            Departamentos
        </th>
        <th>
            Solicitudes
        </th>
        <th>
            Acciones
        </th>
    </thead>
    <tbody>
        <tr *ngFor="let p of recordList | paginate: { itemsPerPage: pageSize,
                                                      currentPage: p,
                                                      totalItems: total }">
            <td>
                {{p.id}}
            </td>
            <td>
                {{p.primerNombre}}
            </td>
            <td>
                {{p.otrosNombres}}
            </td>
            <td>
                {{p.primerApellido}}
            </td>
            <td>
                {{p.segundoApellido}}
            </td>
            <td>
                {{p.documento}}
            </td>
            <td>
                {{p.fechaNacimiento}}
            </td>
            <td>
                {{p.email}}
            </td>
            <td>
                {{p.celular}}
            </td>
            <td>
                {{p.fotografia}}
            </td>
            <td>
                {{p.tiene_tipoVinculacion?.nombre}}
            </td>
            <td>
                <ul>
                    <li *ngFor="let d of p.departamentos">{{d.nombre}}</li>
                </ul>
            </td>
            <td>
                <ul>
                    <li *ngFor="let s of p.solicitudes">{{s.nombreTrabajo}}</li>
                </ul>
            </td>
            <td>
                <a routerLink="/proponente/editar-proponente/{{p.id}}" class="btn btn-warning orange">Editar</a>
                &nbsp;<a routerLink="/proponente/eliminar-proponente/{{p.id}}" class="btn btn-warning red">Eliminar</a>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <pagination-controls (pageChange)="p = $event" previousLabel="Anterior"
                nextLabel="Siguiente"></pagination-controls>
            </td>
        </tr>
    </tbody>
</table>

<br>
<a routerLink="/proponente/crear-proponente" class="btn btn-success">Nuevo Registro</a>
<p></p>
