<nav class="blue-grey lighten-2">
  <div class="nav-wrapper">
    <a routerLink="home" class="brand-logo">Inicio</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li *ngIf="session"><a class="dropdown-trigger" href="#!" data-target="dropdown2">Proponente<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="session"><a class="dropdown-trigger" href="#!" data-target="dropdown1">Solicitud<i class="material-icons right">arrow_drop_down</i></a></li>
      <li *ngIf="session"><a routerLink="parametros/listar-jurado">Jurado</a></li>
      <li *ngIf="session"><a routerLink="recordatorio/listar-recordatorio">Recordatorio</a></li>
      <li *ngIf="session"><a routerLink="parametros/listar-resultado-evaluacion">Resultado Evaluación</a></li>
      <li *ngIf="session"><a routerLink="reportes/listar-reportes">Reportes</a></li>
      <li *ngIf="session"><a routerLink="seguridad/listar-usuario">Usuarios</a></li>
      <li *ngIf="!session"><a routerLink="seguridad/login">Login</a></li>
      <li *ngIf="session"><a routerLink="seguridad/cambiar-clave">Cambiar clave</a></li>
      <li *ngIf="session"><a routerLink="seguridad/logout">Logout</a></li>
    </ul>
    <ul id="dropdown1" class="dropdown-content">
      <li><a routerLink="solicitud/listar-solicitudes">Listar solicitudes</a></li>
      <li><a routerLink="parametros/listar-modalidad">Modalidad</a></li>
      <li><a routerLink="parametros/listar-comite">Comité</a></li>
      <li><a routerLink="parametros/listar-estado-solicitud">Estado de solicitud</a></li>
      <li><a routerLink="parametros/listar-tipo-solicitud">Tipo de solicitud</a></li>
      <li><a routerLink="parametros/listar-linea-investigacion">Línea de Investigación</a></li>
    </ul>
    <ul id="dropdown2" class="dropdown-content">
      <li><a routerLink="proponente/listar-proponente">Listar proponentes</a></li>
      <li><a routerLink="parametros/listar-departamento">Departamento</a></li>
      <li><a routerLink="parametros/listar-facultad">Facultad</a></li>
      <li><a routerLink="parametros/listar-tipo-vinculacion">Tipo de vinculación</a></li>
      
    </ul>
  </div>
</nav>

<ul class="sidenav" id="mobile-demo">
  <li *ngIf="!session"><a routerLink="seguridad/login">Login</a></li>
  <li *ngIf="session"><a routerLink="seguridad/logout">Logout</a></li>
  <li *ngIf="session"><a routerLink="seguridad/cambiar-clave">Cambiar clave</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-departamento">Departamento</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-facultad">Facultad</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-modalidad">Modalidad</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-jurado">Jurado</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-comite">Comité</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-tipo-vinculacion">Tipo de vinculación</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-estado-solicitud">Estado de solicitud</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-tipo-solicitud">Tipo de solicitud</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-linea-investigacion">Línea de Investigación</a></li>
  <li *ngIf="session"><a routerLink="parametros/listar-resultado-evaluacion">Resultado Evaluación</a></li>
  <li *ngIf="session"><a routerLink="solicitud/listar-solicitudes">Solicitud</a></li>
  <li *ngIf="session"><a routerLink="proponente/listar-proponente">Proponente</a></li>
  <li *ngIf="session"><a routerLink="reportes/listar-reportes">Reportes</a></li>
  <li *ngIf="session"><a routerLink="seguridad/listar-usuario">Usuarios</a></li>
</ul>