<div class="row">
    <input type="hidden" formControlName="id">
    <div class="row">
        <div class="input-field col s12">
            <label for="" class="black-text">¿Está seguro de querer eliminar el registro con la siguiente información?:</label>
            <br>
            <ul>
                <li>
                    <strong>Id: {{id}}</strong>
                </li>
                <li>
                    <strong>Nombre del trabajo: {{tiene_solicitud}}</strong>
                </li>
                <li>
                    <strong>Nombre del jurado: {{tiene_jurado}}</strong>
                </li>
                <li>
                    <strong>Fecha de invitación: {{fechaInvitacion}}</strong>
                </li>
                <li>
                    <strong>Fecha de respuesta: {{fechaRespuesta}}</strong>
                </li>
                <li>
                    <strong>Estado de la invitación: {{estadoInvitacion}}</strong>
                </li>
                <li>
                    <strong>Observaciones: {{observaciones}}</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s2">
            <a routerLink="/invitacion-evaluar/info-invitacion-evaluar/{{id}}" class="btn btn-warning red">
                Cancelar
            </a>
        </div>
        <div class="input-field col s10">
            <button (click)="RemoveRecord()" class="btn btn-success">
                Eliminar
            </button>
        </div>
    </div>
</div>