<p></p>
<div class="row">
    <form [formGroup]="form" class="col s12">
        <input type="hidden" formControlName="_id">
        <div class="row">
            <div class="input-field col s3">
                <input formControlName="nombre" id="nombre" type="text">
                <label for="nombre" class="active">Nombre</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/seguridad/listar-rol" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <div class="input-field col s10">
                <button (click)="EditeRecord()" class="btn btn-success">
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>