<div class="row">
    <form [formGroup]="form" class="col s12">
        <input type="hidden" formControlName="id">
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="nombre" id="nombre" type="text">
                <label for="nombre" class="active">Nombre</label>
            </div>
            <div class="input-field col s12">
                <input formControlName="id_facultad" id="id_facultad" type="number">
                <label for="id_facultad" class="active">Id Facultad</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <a routerLink="/parametros/listar-departamento" class="btn btn-warning red">
                    Cancelar
                </a>
            </div>
            <!-- <div class="input-field col s10">
                <button (click)="EditeRecord()" class="btn btn-success">
                    Editar
                </button>
            </div> -->
        </div>

    </form>
</div>
